<html ng-app="finalProject">
<head>
	<title>Final Project</title>

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-resource.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>

	<script src="../js/app.js"></script>
	<script src="../js/controllers/teamsController.js"></script>
	<script src="../js/directives/graphView.js"></script>

</head>
<body ng-controller="TeamsController as teams">

	{{2+2}}


	<form ng-submit="teams.getPlayer()">
		<input type="text" placeholder="Player name" ng-model="teams.playerName">
		<button type="submit">Search</button>
	</form>

	<a ui-sref="show">Player</a>

	<div ui-view></div>



</body>
</html>