<html ng-app="finalProject">
<head>
	<title>Final Project</title>

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-resource.js"></script>


	<script src="/js/app.js"></script>
	<script src="/js/controllers/teamsController.js"></script>

</head>
<body ng-controller="TeamsController as teams">

	{{2+2}}


	<form>
		<input type="text" placeholder="Search...">
		<button type="submit">Search</button>
	</form>

	<div>{{data.roster}}</div>

	<ul id="roster">
		<li ng-repeat="n in teams.all">{{n.name.full}}</li>
	</ul>

</body>
</html>