<container>

<div class="jumbotron">
  <h2>{{teams.player.name.full}}</h2>
  <br/>
  <h4>#{{teams.player.uniform_number}} {{teams.player.eligible_positions[0]}} | {{teams.player.editorial_team_full_name}}</h4>

</div>
	<h1>{{teams.player.name.full}} - {{teams.player.display_position}}, {{teams.player.editorial_team_full_name}}</h1>
	<br/>
	<img src="{{teams.player.headshot.url}}">
	<br/>
	<h2>Stats</h2>
	<br/>

	<table class="table table-bordered">
		<tr>
			<td>Year</td>
			<td ng-repeat="n in teams.stats">{{teams.category.stat_categories[n.stat_id].display_name}}</td>
		</tr>
		<tr>
			<td>{{teams.player.stats.coverage_value}}</td>
			<td ng-repeat="n in teams.stats">{{n.value}}</td>
		</tr>
		<tr>
			<td>{{teams.player.stats.coverage_value-1}}</td>
			<td ng-repeat="n in teams.statsFourteen">{{n.value}}</td>
		</tr>
		<tr>
			<td>{{teams.player.stats.coverage_value-2}}</td>
			<td ng-repeat="n in teams.statsThirteen">{{n.value}}</td>
		</tr>
	</table>

<section class="graph"></section>

</container>

