<main>

	<h1>{{teams.player.name.full}} - {{teams.player.display_position}}, {{teams.player.editorial_team_full_name}}</h1>
	<br/>
	<img src="{{teams.player.headshot.url}}">
	<br/>
	<h2>Stats</h2>
	<br/>

	<table class="table table-bordered">
		<tr>{{teams.player.stats.coverage_value}}</tr>
		<tr>
			<td ng-repeat="n in teams.stats">{{teams.category.stat_categories[n.stat_id].display_name}}</td>
		</tr>
		<tr>
			<td ng-repeat="n in teams.stats">{{n.value}}</td>
		</tr>
	</table>




</main>
<div>
<script>
var dataArray = [871,212,812,131];

			var canvas = d3.select("div")
				.append("svg")
				.attr("width", 500)
				.attr("height", 500)
				.append("g")

			var widthScale = d3.scale.linear()
				.domain([0,900])
				.range([0, 500])

			var bars = canvas.selectAll("rect")
				.data(dataArray)
				.enter()
					.append("rect")
					.attr("width", function(d) {
						return widthScale(d);
					})
					.attr("height", 50)
					.attr("y", function(d, i) {
						return i * 100;
					});
			console.log('im here');

</script>
</div>
